<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <appSettings>
            <add key="PORT" value="80" />
            <add key="PRO_DB_HOST" value="LAPTOP-D97QEO1R" />
            <add key="PRO_DB_PORT" value="1433" />
            <add key="PRO_DB_USERNAME" value="sa" />
            <add key="PRO_DB_PASSWORD" value="edcs@123" />
            <add key="PRO_DB_DATABASE" value="GuaranteeSchemes" />
            <add key="HASHING512" value="sha512" />
            <add key="HASHING256" value="sha256" />
            <add key="HASHINGSHA1" value="sha1" />
            <add key="SATS_API" value="http://124.123.123.167/STSWS/services/getStudentDataForSevaSindhu" />
            <add key="KUTUMBA_API" value="https://kutumba-services.karnataka.gov.in/testfidapienc1/Getbeneficiarydata" />
            <add key="KUTUMBA_IV_KEY" value="1231233213214566" />
            <add key="KUTUMBA_AES_KEY" value="E280E95700704A7B9B5DDDDB7653BCE4" />
            <add key="KUTUMA_CLIENT_CODE" value="6831115552" />
            <add key="KUTUMBA_CLIENT_SEC_KEY" value="90626F9D-CEB5-4368-903A-C092C56E8DDE" />
  </appSettings>

<system.webServer>
<iisnode node_env="production" loggingEnabled="true" />
<httpErrors errorMode="Detailed" />

<handlers>
  <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
</handlers>

<rewrite>
  <rules>
    <rule name="nodejs">
      <match url="(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="index.js" />
    </rule>
  </rules>
</rewrite> 

<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
</security>
</system.webServer>
 </configuration>
